
/* Desktop */
@media(min-width:800px){

    .header-container{

        height: clamp(4rem, 15vh, 6rem);
    }

    /* Navbar */
    .nav-list{
        transform: translateX(0);
        position: static;
        min-height:100%;

        flex-direction: row;
        text-align: center;

        /* padding: 0.5rem; */

        width: 100%;
        /* height: 100%; */

        background:transparent;

        /* border: 1px solid red; */
    }
    
    .nav-button{
        display: none;
    }

    
    .nav-bar{
        height: 100%;
    }


    .nav-items{
        display: inline-block;

        height: 100%;

    }
    
    .nav-items a{
        padding: 0.5rem;
        border-radius: 10px;
        transition: 0.2s ease-in;

        max-width: 100%;

        display: inline-block;

    }

  
    .nav-list .nav-items a:hover{
        text-shadow: 1px 1px 3px rgb(255, 255, 255);
        text-shadow: 0 0 3px rgb(255, 255, 255);
        /* letter-spacing: 1px; */

        transform: scaleX(1.11);

        /* display: inline-block; */
        /* transform: scale(1.2); */
        /* check this */
    
    }






    /* MAIN SECTION */
    .hero-section{

        /* CHANGED FOR DESKTOP */
        grid-template-columns: 0.5fr 0.9fr;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        place-items: center;
        justify-content: space-around;
        gap: 1.5rem;


    }
    .metric-card{
        height: 40vh;
        min-height: 250px;
    }




    /* MID SECTION */
    .mid-section{
            /* flex: 1; */
            padding: 2rem;
        
            height: auto;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;

            grid-template-rows: auto;

    }

    .form-box select:focus{
        transform: scale(1.1);
    }


    .footer-left{
        flex-basis: auto;
        display: flex;
        align-items: center;
    }
    .footer-center{
        flex-basis: auto;
        display: flex;
        align-items: center;
    }
    .footer-right{
        flex-basis: auto;
        gap: 2rem;
        margin-top: auto;
    }

 
}